In [4]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve
from urllib import request, parse

X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [5]:
columns = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope', 'Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak']

In [6]:
X_test[columns].head(5)

,Sex,ChestPainType,RestingECG,ExerciseAngina,ST_Slope,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak
0,F,ATA,Normal,N,Up,63,140,195,0,179,0.0
1,M,NAP,Normal,N,Flat,53,145,518,0,130,0.0
2,M,ASY,ST,N,Flat,65,160,0,1,122,1.2
3,M,ASY,LVH,Y,Flat,56,130,0,0,122,1.0
4,M,ATA,Normal,N,Up,54,108,309,0,156,0.0